@import "./scss/utils/base";

body {
  margin: 0;
  font-family: 'Helvetica', -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  background-color: #fafafa;
}
.workSpaceContainer{
  display: flex;
}